<!-- Floating button -->
<div id="bottom-wrapper" class="bottom-wrapper">
  <section class="menubar">
    <div class="submenu-btn">
      <img src="/img/awesome/cogs.svg" alt="fogaskerekek" />
    </div>
    <div class="bottom-searchbar">
      <form action="/blogs" method="GET">
        <input type="search" name="search" id="searchbar" placeholder="Keresés cikkek címeiben" />
      </form>
    </div>
    <div class="go-up">
      <a href="#page-top" id="back-to-top" aria-label="oldal tetejére gomb" role="button" class="back-to-top"
        ><img src="/img/awesome/chevron-up.svg" alt="felfelé nyíl"
      /></a>
    </div>
  </section>
  <section class="categories">
    <a href="/blogs/category/Vállalkozás" class="btn bg-Vállalkozás">Vállalkozás</a>
    <a href="/blogs/category/Webfejlesztés" class="btn bg-Webfejlesztés">Webfejlesztés</a>
    <a href="/blogs/category/Svelte" class="btn bg-Svelte">Svelte</a>
    <a href="/blogs/category/Gondolatébresztő" class="btn bg-Gondolatébresztő">Gondolatébresztő</a>
    <a href="/blogs/category/Egyéb" class="btn bg-Egyéb">Egyéb</a>
    <a href="/blogs/category/Game" class="btn bg-Game">Game</a>
  </section>
</div>
<a href="#page-top" id="desktop-go-up" aria-label="oldal tetejére gomb" role="button" class="desktop-go-up"
  ><img src="/img/awesome/chevron-up.svg" alt="felfelé nyíl"
/></a>

<script>
  const menu = document.querySelector('.submenu-btn');
  const wrapper = document.querySelector('.bottom-wrapper');
  menu.addEventListener('click', () => {
    wrapper.classList.toggle('open');
  });
</script>

<!-- Floating scroll script -->
<script>
  const menubar = document.getElementById('bottom-wrapper');
  const goUp = document.querySelector('.desktop-go-up');
  const amountScrolled = 250;

  function addClass(el, className) {
    if (el.classList) {
      el.classList.add(className);
    } else {
      el.className += ' ' + className;
    }
  }

  function removeClass(el, className) {
    if (el.classList) el.classList.remove(className);
    else
      el.className = el.className.replace(
        new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'),
        ' '
      );
  }

  window.addEventListener('scroll', function(e) {
    if (window.scrollY > amountScrolled) {
      addClass(menubar, 'show');
      addClass(goUp, 'show');
    } else {
      removeClass(menubar, 'show');
      removeClass(goUp, 'show');
    }
  });
</script>
