<aside>
  <h1>SMARTBEE BLOG</h1>
  <section>
    <div class="profile-badge">
      <a href="https://www.linkedin.com/in/majoros-tamas/">
        <figure>
          <img src="/img/bitmoji_maja.png" alt="bitmoji profile pic" />
        </figure>
      </a>
    </div>
  </section>

  <section id="category" class="categories">
    <a href="/blogs/category/Vállalkozás" class="btn bg-Vállalkozás">Vállalkozás</a>
    <a href="/blogs/category/Webfejlesztés" class="btn bg-Webfejlesztés">Webfejlesztés</a>
    <a href="/blogs/category/Svelte" class="btn bg-Svelte">Svelte</a>
    <a href="/blogs/category/Gondolatébresztő" class="btn bg-Gondolatébresztő">Gondolatébresztő</a>
    <a href="/blogs/category/Egyéb" class="btn bg-Egyéb">Egyéb</a>
    <a href="/blogs/category/Game" class="btn bg-Game">Game</a>
  </section>

  <footer>
    <section class="social">
      <a href="https://twitter.com/SmartBeeWeb" target="_blank" rel="noreferrer">twitter</a>
      <a href="https://www.facebook.com/smartbeeweb" target="_blank" rel="noreferrer">facebook</a>
      <a href="https://www.linkedin.com/in/majoros-tamas/" target="_blank" rel="noreferrer">linkedin</a>
      <a href="https://www.instagram.com/smartbeeweboldalak/" target="_blank" rel="noreferrer">instagram</a>
    </section>
    <section class="copyright">
      <div style="text-align:center">
        <br />
        <hr />
        <br />
        <a href="mailto:develop.tmsmajoros@gmail.com" title="develop.tmsmajoros@gmail.com"
          ><p class="emoji-lg">📬</p></a
        >

        <p>
          ©️ 2019
          <a href="https://smartbeeweb.hu" target="_blank" rel="noreferrer">Smart-Bee Web</a>
        </p>
        <p>Be(e) or not to be(e)...</p>
        <br />
        <p>
          <a href="/impressum.html" target="_blank" rel="noreferrer">Impresszum</a>
        </p>
        <br />
        <hr />
      </div>
    </section>
  </footer>
</aside>
