<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="/img/icons/smart-bee.png" />
  <link rel="stylesheet" href="/css/others.css">
  <title>404</title>
</head>

<body>
  <main class="wrapper">
    <div class="text-center">
      <h1 class="display-3 font-weight-bold">ERROR!</h1>
      <div class="d-inline-block content-404">
        <h4>Bocsi, de az oldal amit keresel nem található.</h3>
          <h5>Lehet hogy félreütöttél valamit, vagy időközben az oldal megszűnt.
        </h4>
        <picture>
          <img src="/img/icons/undraw_page_not_found_su7k.svg" class="img-fluid" style="width: 600px;"
            alt="404 hiba, rajzolt női alak ül a 404 szám tetején.">
        </picture>
        <h5 class="font-weight-bold mt-3">Amit javaslunk:</h5>
      </div>
      <div class="my-3">
        <a href="/blogs" class="btn btn-primary">Visszatérés a kezdőlapra</a>
      </div>
    </div>
  </main>
</body>

</html>