p {
  padding: 0 20px;
}

input:focus {
  outline: none;
}

label {
  color: #fff;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 16px;
  padding: 15px 45px;
}

.log-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #000;
  background: url('https://res.cloudinary.com/maja0426/image/upload/v1569780134/Smartbee-projects/video-games-retro-space-invaders.png')
    no-repeat center/cover;
}

.btn-custom-light {
  background: #fff;
  color: #000;
  /* border: 1px solid #000; */
}

.btn-custom-light:hover {
  background: #000;
  color: #fff;
}
